<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" *ngIf="hasSearched" (click)="returnSearch()"></ion-icon>
    <ion-title>
      Biblioteca
      <ion-icon name="book"></ion-icon>
    </ion-title>
    <ion-toolbar>
      <!--pega titulo do livro e ve se ta igual-->
      <app-searchbar (ionChange)="filtrarlivros($event)"></app-searchbar>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-loading-book *ngIf="isLoading"></app-loading-book>
  <app-empty-screen *ngIf="!isLoading && lista_livros.length === 0" [model]="model"></app-empty-screen>

  <ion-list lines="none">
    <app-book *ngFor="let book of lista_livros" (click)="editarLivro(book)" [book]="book"></app-book>
  </ion-list>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon name="book-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light" (click)="irParaCadastrar()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="logout()">
        <ion-icon name="exit-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
