@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

h3 {
    font-family: 'Playfair Display', serif;
}

ion-content {
    --ion-background-color: #e3e3d3;
}

ion-toolbar{
    --background: #e3e3d3;
    --border-color:var(--background);
}

.emailColor{
    color: #808660;
}

.entrarColor{
    --background: #99a76a;
    --background-activated: #99a76a;
}

span{
    color: red;
}