<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title >Cadastrar livro <ion-icon name="book" color="primary" style="margin-left: 5px; opacity: 0.80;"></ion-icon></ion-title>
    <ion-buttons slot="start">
      <!--botao de voltar-->
      <ion-back-button color="dark" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
  <app-sections [formLivro]="formLivro" (submitForm)="submitForm()"></app-sections>
  <ion-button expand="block" fill="outline" color="dark">
    <input type="file" (change)="uploadFile($event.target)" class="custom-file-input"/>
    Inserir imagem
  </ion-button>

  <ion-button expand="block" color="dark" (click)="cadastrar()">Cadastrar</ion-button>
</ion-content>